.fcs_sec{
  Padding: 2em 0;
}
.fcs_sec .section-heading {
    margin-bottom: 15px;
}
.fcs_sec .section-heading h3 {
    margin-bottom: 10px;
}
.featured_slider_new {
    overflow: hidden;
  	position: relative;
}
.featured_slider_new .swiper-slide {
    box-shadow: none !important;
    text-align:center;
}
.featured_slider_new .product_discount {
    position: absolute;
    min-width: 50px;
    height: 30px;
    background: #e4572e;
    color: #fff;
    font-size: 13px;
    text-align: center;
    letter-spacing: .05em;
    line-height: 30px;
    z-index: 2;
}
.featured_slider_new .product_title {
    color: #1b1b1b;
    font-size: 16px;
    margin: 10px 0 5px;
    line-height: 26px;
    font-weight: 500;
    display: block;
}
.featured_slider_new .product_price {
    color: #929292;
    font-size: 16px;
    margin-bottom: 5px;
}
.featured_slider_new + .btn_container{
	margin: 30px auto 0;
}
.featured_slider_new + .btn_container a {
    background: #e3572e;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    padding: 14px 30px;
    display: inline-block;
}
.featured_slider_new .product-card__price {
    color: #929292;
    text-align: center;
  	margin-bottom: 5px;
}
.product_rating.text-left {
    text-align: center !important;
}
.featured_slider_new .product-card__promo-price {
    font-weight: 400;
}
.featured_slider_new .product-card__availability {
    text-align: left;
    font-weight: 400 !important;
    letter-spacing: 1px;
}
.featured_slider_new .swiper-button-prev {
    left: 6px !important;
}
.featured_slider_new .swiper-button-next {
  right: 6px !important;
}
